/* ----------------------------
 * Button variations
 * ----------------------------
 */

.is-style-outline .wp-block-button__link,
.is-style-outline .wp-element-button {
	background-color: color-mix(in srgb, var(--wp--preset--color--secondary-200) 1%, transparent);
	border-color: currentColor;
	border-style: solid;
	border-width: 2px;
	color: var(--wp--preset--color--secondary-200);
	padding: calc(1rem - 4px) calc(2rem - 4px);
}

.is-style-outline .wp-block-button__link:hover,
.is-style-outline .wp-element-button:hover {
	background-color: color-mix(in srgb, var(--wp--preset--color--secondary-200) 7%, transparent);
	color: var(--wp--preset--color--secondary);
}

.is-style-button-secondary .wp-element-button:hover,
.is-style-button-secondary .wp-block-button__link:hover {
	background-color: var(--wp--preset--color--secondary);
}

.is-style-button-neutral .wp-element-button:hover,
.is-style-button-neutral .wp-block-button__link:hover {
	background-color: var(--wp--preset--color--neutral-0);
}
